/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.nav-link, div.bg-coral, #file, div.bg-lightGreen, .btn {
  cursor: pointer;
}
.bg-coral{
  background: #ff5e62;
  color: whitesmoke;
}
.bg-coral:hover{
  color: white;
  background: #e45559;
  border-color: #e45559;
}
.bg-coral .card-subtitle {
  color: lightgreen;
}
.bg-coral:hover .card-subtitle {
  color: #45ff45;
}
.bg-lightGreen {
  background: lightgreen;
  color: black;
}
.bg-lightGreen:hover{
  color: black;
  background: #93e893;
  border-color: #93e893;
}
.bg-lightGreen .card-subtitle {
  color: #e45559;
}
th {
  cursor: pointer;
}
.table-striped tbody tr:nth-of-type(even) {
  background: #e2f5e2;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: white;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  background: #ff5e62;
  color: whitesmoke;
  cursor: pointer;
}
header a {
  color: white;
}
header a:hover {
  color: lightgreen;
}
a{
  color: #ff5e62;
}
a:hover {
  color: lightgreen;
}
button#signOut{
  color: #90ee90;
  background-image: none;
  background-color: transparent;
  border-color: #90ee90;
}


