.bg-coral{
	background: #ff5e62;
	color: whitesmoke;
}
.bg-coral .card-subtitle {
	color: lightgreen;
}
#formMessage {
	display: none;
}
#messageHolder{
	display: none;
}
@media screen and (max-width: 575px) {
	div.col-12 {
    	margin-bottom: 2rem;
    }
}
.form-control {
	background: #e2f5e2;
}
.cardStack:nth-of-type(even) {
  background: #ceffc6;
}